<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @store.name() %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h4>Brands sold at this Store:</h4>
        <ul>
          <% @store.brands.each() do |brand| %>
          <li><a href="/brands/<%= brand.id() %>"><%= brand.name() %></a></li>
          <% end %>
        </ul>

        <form action="/stores/<%= @store.id() %>" method="post">
          <h4>Add Brands to this Store:</h4>
          <% @brands.each() do |brand| %>
            <% unless brand.store_ids.include?(@store.id()) %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>"><%= brand.name() %>
                </label>
              </div>
            <% end %>
          <% end %>
          <button type="submit" class="btn btn-warning">Add Brand</button>
        </form>
      </div>

      <div class="col-md-6">
        <form action="/stores/<%= @store.id() %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <input class="form-control" id="new_store" name="new_store" placeholder="Update Store Name">
          </div>
          <button type="submit" class="btn btn-info">Update Name</button>
        </form>
        <br>
        <br>
        <form action="/stores/<%= @store.id() %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger">Delete Store</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<a href='/'>Return to Homepage</a>
